<div class="card my-4" *ngIf="post">

    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">

        <form (ngSubmit)="submit()" novalidate>

            <div class="form-group">

                <textarea name="content" id="content" class="form-control" rows="3" placeholder="Content" [(ngModel)]="comment.content"></textarea>

            </div>

            <input type="hidden" name="postid" value="{{ post.id }}" [(ngModel)]="comment.postid"/>
            
            <button type="submit" class="btn btn-primary">Comment</button>

        </form>

    </div>

</div>

<comment-view></comment-view>